.container1 {
  * {
    margin: 1rem;
  }

  .header {
    padding: 2px;
    background-color: #b3fc71;
    color: #4d9f03;
  }

  .title {
    margin-top: 2.5rem;
  }

  .header1 {
    background-color: #b3fc71;
    color: #4d9f03;
    width: 5.5rem;
    padding: 0.5px;
  }
}
